
.Rproj.user

.Rhistory
.RData
.Ruserdata


.DS_Store
Thumbs.db
.hugo_build.lock


public/* 
resources/*
.Rproj.user/*
static/post/.DS_Store
static/.DS_Store
content/post/.DS_Store
static/post/.DS_Store
.DS_Store
content/post/.DS_Store
content/post/.DS_Store
